@charset "utf-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 84%; 
  margin: 0 auto;
}

/* common styling */

.service-title,
.project-title,
.testimonials-title { 
  margin-bottom: 44px;
  color: #fff;
  position: relative;
  font-size: 32px;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.service-title::after,
.project-title::after,
.testimonials-title::after {
  content: '';
  width: 6.2%;
  border-top: 3px solid #bfcdb4;
  display: block;
  position: absolute;
  top: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.service-title + p,
.project-title + p,
.testimonials-title + p {
  font-size: 17px;
  margin-bottom: 90px;
  text-align: center;
  letter-spacing: 0.5px;
}

/*=================================
  Header styling starts here
=================================*/
header {
  padding: 29px 0;
  background-color: #363636; 
}

header .wrapper { 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  color: #fff;
  font-size: 24px;
  letter-spacing: 1px;
  text-transform: capitalize;
}

h1 a { color: inherit; }

#click { display: none; }
.hamberger { text-indent: -9999px; }

.hamberger::before {
  content: "\f0c9";
  display: none;
  color: #fff;
  font-size: 28px;
  font-family: "fontAwesome";
  text-indent: 0;
  float: left;
  cursor: pointer;
}

.navbar { 
  flex-basis: 60%;
  text-align: right;
}

.navbar li { padding: 0 0 0 5.6%; }

.navbar li a { 
  color: #99948e;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  transition: all 0.3s;
}
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/* banner start */
.banner {
  padding: 306px 0 186px;
  background-color: red;
  background:linear-gradient(to bottom, rgba(30,72,34, 0.7) , rgba(19, 68, 16, 0.7)) , url('../image/img/intro-bg.jpg') no-repeat center left;
  background-size: cover;
  text-align: center;
}

.banner-title {
  margin: 0 0 14px 0;
  color: #fff;
  font-size: 55px;
  font-weight: bold;
  text-transform: uppercase;
}

.banner-description {
  margin: 0 25% 42px;
  color: #dfe9db;
  font-size: 21px;
  line-height: 30px;
}

.banner a {
   padding: 16px 2%;
   border-radius: 6px;
   background-color: #619f2d;
   color: #fff;
   font-size: 16px;
   text-transform: uppercase;
   letter-spacing: 0.5px;
   transition: all 0.3s;
}
/* banner end */

/* landscaper start */
.landscaper { padding: 110px 0; }

.landscaper .wrapper, .landscaper-cards {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
}

.landscaper-details { flex-basis: 47.5%; }
.landscaper-cards { flex-basis: 48.5%; }

.landscaper-title,
.landscaper-card figcaption {
  margin-bottom: 60px;
  position: relative;
  color: #45505e;
  font-size: 32px;
  text-transform: capitalize;
  font-weight: bold;
}

.landscaper-title span { color: #619f2d; }

.landscaper-title::after {
  content: '';
  width: 14%;
  border-top: 3px solid #6eab52;
  position: absolute;
  top: 54px;
  left: 0;
}

.landscaper-details p,
.landscaper-card p{
  margin-bottom: 20px;
  color: #7D7D94;
  font-size: 14px;
  line-height: 22px;
}

.view-all {
  margin-top: 24px;
  padding: 16px 4.3%;
  border-radius: 5px;
  background-color: #6eab52;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  transition: all 0.3s;
}

.landscaper-card { flex-basis: 47.35%; }

.landscaper-card figcaption {
  margin: 22px 0 28px 0;
  font-size: 21px;
}
/* landscaper end */

/* service start */
.service {
  padding:110px 0;
  background-color: #69ad31;
  color:  #bfcdb4;
}

.service-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  text-align: center;
}

.service-card { flex-basis: 22%; }

.service-card img {
  width: 190px;
  height: 190px;
  border: 10px solid #78b546;
  border-radius: 50%;
}

.service-card figcaption {
  margin: 24px 0 20px;
  color: #d8e4d8;
  font-size: 22px;
  text-transform: capitalize;
}

.service-card p {
  font-size: 14px;
  line-height: 20px;
}
/* service end */


/* project start */
.project { margin: 110px 0; }
.project-title { color: #45505e; }

.project-title::after { 
  border: 2px solid #69ad31;
  top: 52px;
}

.project-title + p {
  margin-bottom: 55px;
  color: #7D7D94;
}

.project-navbar {
  margin-bottom: 54px;
  text-align: center;
}

.project-navbar li {
  margin: 0 1%;
  padding: 6px 1.5%;
  border-radius: 3px;
  background-color:#e5e5e5 ;
  font-size: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.project-navbar li:first-child { background-color: #69ad31; }
.project li a { color:  #7d7d9f; }

.project-photo {
  margin-bottom: 110px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.project-photo li { flex-basis: 31.33%; }
/* project end */

/* testimonials start */
.testimonials .wrapper { width: 70%; }

.testimonials { 
  padding: 115px 0;
  background: linear-gradient(to left, rgba(98, 157, 46, 0.9), rgba(98, 157, 46, 0.9)), url('../image/img/testimonials-bg.jpg') no-repeat center left;
  text-align: center;
}

.testimonials-title { margin-bottom: 100px; }

.testimonials-title + p {
  margin-bottom: 16px;
  color:  #bfcdb4;
  font-size: 16px;
  line-height: 32px;
}

.testimonial-author {
  margin-bottom: 30px;
  color:  #bfcdb4;
  font-size: 16px;
  text-transform: capitalize;
}

.testimonial-author span { text-transform: uppercase; }

.testimonial-slider a {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #bfcdb4 ;
  text-indent: -9999px;
}

.testimonial-slider li { margin: 0 0.7%; }
.testimonial-slider .active { background-color: #fff; }
/* testimonials start */


/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer {
  padding: 36px 0;
  background-color: #303030;
  text-align: center;
}

.footer-icons { margin-bottom: 48px;}
.footer-icons li {  margin: 0 1.7%; }

.footer-icons li a {
  padding: 10px;
  background-color: #3f3f3f;
  border-radius: 50px;
  text-indent: -9999px;
}

.footer-icons li a::before {
  font-family: "fontAwesome";
  color: #69ad31;
  float: left;
  text-indent: 0;
  font-size: 20px;
  transition: all 0.3s;
}

.footer-icons li:nth-child(1) a::before { content: "\f082"; }
.footer-icons li:nth-child(2) a::before { content: "\f099"; }
.footer-icons li:nth-child(3) a::before { content: "\f0d5"; }


footer p {
  color: #575757;
  font-size: 14px;
  text-transform: capitalize;
}

footer p span { text-transform: lowercase; }
footer p a { color: #6f6f6f; }
 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  